<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Raza</th>
                <th scope="col">Tamaño</th>
                <th scope="col">Vida</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Borrar</th>
            </tr>
        </thead>
        <tbody *ngFor="let iterador of raza">
            <tr>
                <th scope="row">{{iterador.razaPerro}}</th>
                <td>{{iterador.tamanio}}</td>
                <td>{{iterador.vida}}</td>
                <td><a [routerLink]="['/perros2', iterador.key]" routerLinkActive="active">Actualizar</a></td>
                <td><button name="" id="" class="btn btn-primary|secondary|success|danger|warning|info|light|dark|link" href="#" role="button" routerLinkActive="active" (click)='borrarRaza(iterador,iterador.key)'>Borrar</button></td>
            </tr>

        </tbody>
    </table>
</div>
<div class="separo">
    <button id="adduser" class="btn btn-lg btn-info " type="submit" routerLink="/perros2" routerLinkActive="active">Ir al formulario</button>
</div>