<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid bg-3">
        <form class="form-horizontal row" (ngSubmit)="guardar()" #forma="ngForm" onsubmit="this.reset()">
            <!-- onsubmit="this.reset()" -->
            <div class="form-row col-md-6">
                <label for="inputNombre">Id :</label> <input [(ngModel)]="raza.productId" name="productId" type="text" class="form-control" id="inputNombre">
            </div>
            <div class="form-row col-md-6">
                <label for="inputApellido">Raza :</label> <input [(ngModel)]="raza.razaPerro" name="razaPerro" type="text" class="form-control" id="inputApellido" required>
            </div>
            <div class="form-row col-md-6">
                <label for="inputDocumento">Descripcion :</label> <input [(ngModel)]="raza.description" type="text" name="description" class="form-control" id="inputDocumento">
            </div>
            <div class="form-row col-md-6">
                <label for="">Tamaño :</label> <input [(ngModel)]="raza.tamanio" type="text" name="tamanio" class="form-control" id="inputEmail">
            </div>
            <div class="form-row col-md-6">
                <label for="">Color :</label> <input [(ngModel)]="raza.color" type="text" name="color" class="form-control" id="inputContrasenia">
            </div>
            <div class="form-row col-md-6">
                <label for="inputPrivilegio">Vida :</label> <input [(ngModel)]="raza.vida" type="text" name="vida" class="form-control" id="inputPrivilegio">
            </div>
            <div class="form-row col-md-6">
                <label for="inputPrivilegio">imagenUrl :</label> <input [(ngModel)]="raza.imageUrl" type="text" name="imageUrl" class="form-control" id="inputPrivilegio">
            </div>
            <div class="separo">
                <button [disabled]="!forma.valid" class="btn btn-lg btn-info " (click)="guardar('POST')" type="submit">Agregar</button>
                <button id="adduser" class="btn btn-lg btn-info " (click)="guardar('PUT')" type="submit" routerLink="/perros" routerLinkActive="active">Actualizar</button>
            </div>

            <div class="separo row">
                <button id="adduser" class="btn btn-lg btn-info " type="submit" routerLink="/perros" routerLinkActive="active">Volver a la tabla</button>

            </div>
        </form>

    </div>
</div>