<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid bg-3">
        <form class="form-horizontal row">

            <div class="form-row col-md-6">
                <label for="inputNombre">Id :</label> <input name="nombre" type="text" class="form-control" id="inputNombre" placeholder="nombre...">
            </div>
            <div class="form-row col-md-6">
                <label for="inputApellido">Raza :</label> <input name="apellido" type="text" class="form-control" id="inputApellido" placeholder="Apellido...">
            </div>
            <div class="form-row col-md-6">
                <label for="inputDocumento">Descripcion :</label> <input type="text" name="documento" class="form-control" id="inputDocumento" placeholder="N° Documento...">
            </div>
            <div class="form-row col-md-6">
                <label for="">Tamaño :</label> <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email...">
            </div>
            <div class="form-row col-md-6">
                <label for="">Color :</label> <input type="password" name="contrasena" class="form-control" id="inputContrasenia" placeholder="Contraseña...">
            </div>
            <div class="form-row col-md-6">
                <label for="inputPrivilegio">Vida :</label> <input type="text" name="privilegio" class="form-control" id="inputPrivilegio" placeholder="Ingrese: admin O vendedor">
            </div>
            <div class="separo">
                <button id="adduser" class="btn btn-lg btn-info " type="submit">Agregar/Modificar</button>
            </div>

            <div class="separo">
                <button id="adduser" class="btn btn-lg btn-info " type="submit" routerLink="/perros" routerLinkActive="active">Volver a la tabla</button>
            </div>
        </form>

    </div>
</div>